/* Контейнер слайдера */
.slick-slider {}

/* Обертка, скрывающая лишние части слайдов */
.slick-list {
    overflow-x: hidden !important;
    overflow-y: visible !important;
}

/* Лента со слайдами */
.slick-track {
    display: flex !important;
    /* width: 100% !important; */
    z-index: 1;
    position: relative;
}

/* Отдельный слайд */
.slick-slide {}

/* Текущий активный слайд */
.slick-current {}

/* Видимые слайды */
.slick-active {}

/* Центральный слайд при centerMode: true */
.slick-center {}

/* Кнопка "назад" */
.slick-prev {}

/* Кнопка "вперед" */
.slick-next {}

/* Неактивная кнопка "назад" */
.slick-prev.slick-disabled {}

/* Неактивная кнопка "вперед" */
.slick-next.slick-disabled {}

/* Контейнер с точками */
.slick-dots {}

/* Отдельная точка */
.slick-dots li {}

/* Кнопка внутри точки */
.slick-dots li button {}

/* Активная точка */
.slick-dots li.slick-active button {}

/* Когда слайдер загружен */
.slick-initialized {}

/* Когда идет загрузка */
.slick-loading {}

/* Вертикальный режим */
.slick-vertical {}

/* Дублированные слайды (для бесконечной прокрутки) */
.slick-slide.slick-cloned {}


/* Слайдер */
.slider {
    position: relative;
    min-width: 0;
    display: flex;
}

.slider .slick-arrow {
    position: absolute;
    font-size: 0;
    padding: 0;
    margin-top: -35px;
    opacity: 60%;
}

.slider .slick-arrow.slick-prev {
    left: 0;
    top: 50%;
    width: 35px;
    height: 35px;
}

.slider .slick-arrow.slick-next {
    top: 50%;
    right: 0;
    width: 35px;
    height: 35px;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0 10px;
}

.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: black;
    opacity: 40%;
    border-radius: 100%;
    padding: 0;
}

.slider .slick-dots li.slick-active button {
    opacity: 100%;
}

.slider_item {
    padding: 0 16px;
    box-sizing: border-box;
    width: auto !important; /* убрать жесткую ширину */
}

.slick-arrow.slick-hidden {
    display: block !important;
}

